/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]


    withName: MULTIQC {
        ext.args = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CAT_FASTQ {
        publishDir = [
            enabled: false,
            mode: 'copy'
        ]
    }

    withName: '.*FASTQ_CLOCKWORK_DECONTAMINATE:CLOCKWORK_MINIMAP2' {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/clockwork" },
            mode: params.publish_dir_mode,
            enabled: params.keepfiles && params.clockwork,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*FASTQ_CLOCKWORK_DECONTAMINATE:CLOCKWORK_REMOVECONTAM' {
        publishDir = [
            [
                path: { "${params.outdir}/samples/${meta.id}/varpipe/clockwork" },
                mode: params.publish_dir_mode,
                pattern: '*.tsv'
            ],
            [
                path: { "${params.outdir}/samples/${meta.id}/varpipe/clockwork" },
                mode: params.publish_dir_mode,
                enabled: params.keepfiles && params.clockwork,
                saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
            ]
        ]
    }

    withName: TRIMMOMATIC {
        ext.args2 = 'LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:40'
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/trimmomatic" },
            mode: params.publish_dir_mode,
            enabled: params.keepfiles,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: BWA_INDEX {
        publishDir = [
            path: { "${params.outdir}/samples/varpipe/${meta.id}/index" },
            mode: params.publish_dir_mode,
            enabled: params.keepfiles,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMTOOLS_FAIDX {
        publishDir = [
            path: { "${params.outdir}/samples/varpipe/${meta.id}/index" },
            mode: params.publish_dir_mode,
            enabled: params.keepfiles,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PICARD_CREATESEQUENCEDICTIONARY {
        ext.prefix = "ref2"
        publishDir = [
            path: { "${params.outdir}/samples/varpipe/${meta.id}/index" },
            mode: params.publish_dir_mode,
            enabled: params.keepfiles,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: VARPIPE_BWAMEM {
        ext.args = "-t 4"
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/index" },
            mode: params.publish_dir_mode,
            enabled: params.keepfiles,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PICARD_SAMFORMATCONVERTER {
        ext.args = 'LENIENT'
        ext.output_suffix = '_GATK.bam'
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/bwa" },
            mode: params.publish_dir_mode,
            enabled: params.keepfiles,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PICARD_SORTSAM {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/GATK" },
            mode: params.publish_dir_mode,
            enabled: params.keepfiles,
            saveAs: { filename ->
                if (filename.endsWith('.bam')) {
                    return "${meta.id}_GATK_s.bam"
                } else {
                    filename.equals('versions.yml') ? null : filename
                }
            }
        ]
    }

    withName: PICARD_MARKDUPLICATES {
        ext.args = '-ASSUME_SORTED true -REMOVE_DUPLICATES false -VALIDATION_STRINGENCY LENIENT'
        ext.prefix = { "${meta.id}_GATK_sdr" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/GATK" },
            mode: params.publish_dir_mode,
            enabled: params.keepfiles,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PICARD_BUILDBAMINDEX {
        ext.args = 'LENIENT'
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/GATK" },
            mode: params.publish_dir_mode,
            enabled: params.keepfiles,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMTOOLS_VIEW_UNMAPPED {
        ext.args = '-c'
        ext.prefix = 'unmapped'
        ext.index_format = null
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/samtools" },
            mode: params.publish_dir_mode,
            enabled: params.keepfiles,
            saveAs: { filename ->
                if (filename.endsWith('.bam')) {
                    return "${meta.id}_unmapped.txt"
                } else {
                    filename.equals('versions.yml') ? null : filename
                }
            }
        ]
    }

    withName: SAMTOOLS_VIEW {
        ext.args = '-bhF 4'
        ext.prefix = { "${meta.id}_sdrcsm" }
        ext.index_format = null
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/samtools" },
            mode: params.publish_dir_mode,
            enabled: params.keepfiles,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMTOOLS_VIEW_MAPPED {
        ext.args = '-c'
        ext.prefix = 'mapped'
        ext.index_format = null
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/samtools" },
            mode: params.publish_dir_mode,
            enabled: params.keepfiles,
            saveAs: { filename ->
                if (filename.endsWith('.bam')) {
                    return "${meta.id}_mapped.txt"
                } else {
                    filename.equals('versions.yml') ? null : filename
                }
            }
        ]
    }


    withName: PICARD_BUILDBAMINDEX_2 {
        ext.args = 'LENIENT'
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/GATK" },
            mode: params.publish_dir_mode,
            enabled: params.keepfiles,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: SAMTOOLS_DEPTH {
        ext.args = '-a'
        publishDir = [
            path: { "${params.outdir}/samples/${meta1.id}/varpipe/samtools" },
            mode: params.publish_dir_mode,
            enabled: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.tsv')) {
                    return "${meta1.id}_coverage.txt"
                } else {
                    filename.equals('versions.yml') ? null : filename
                }
            }
        ]
    }

    withName: VARPIPE_COVERAGEANALYSIS {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/" },
            mode: params.publish_dir_mode,
            pattern: '{*_stats.txt,*_target_region_coverage.txt,*_genome_region_coverage.txt,*_structural_variants.txt,*_qc_log.txt}'
        ]
    }

    withName: VARPIPE_STRUCTURALVARIANTS {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/" },
            mode: params.publish_dir_mode,
            pattern: '*_structural_variants.txt'
        ]
    }

    // DR LOCI ANALYSES
    withName: '.*:VARPIPE_VARIANTANALYSIS:GATK4_MUTECT2_TARGETED' {
        ext.args = '--max-mnp-distance 2'
        ext.prefix = { "${meta.id}_mutect" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/GATK" },
            mode: params.publish_dir_mode,
            enabled: params.keepfiles,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:VARPIPE_VARIANTANALYSIS:GATK4_LEFTALIGNANDTRIMVARIANTS_TARGETED' {
        ext.args = '--split-multi-allelics'
        ext.prefix = { "${meta.id}_gatk_mutect" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/GATK" },
            mode: params.publish_dir_mode,
            enabled: params.keepfiles,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:VARPIPE_VARIANTANALYSIS:GATK4_FILTERMUTECTCALLS_TARGETED' {
        ext.args = { "--min-reads-per-strand 1 --min-median-read-position 10 --min-allele-fraction 0.01 --microbial-mode true --stats ${meta.id}_mutect.vcf.gz.stats" }
        ext.prefix = { "${meta.id}_filter" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/GATK" },
            mode: params.publish_dir_mode,
            enabled: params.keepfiles,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    // FULL SAMPLE ANALYSES
    withName: '.*:VARPIPE_VARIANTANALYSIS:GATK4_MUTECT2_ALL' {
        ext.args = '--max-mnp-distance 2'
        ext.prefix = { "${meta.id}_full_mutect" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/GATK" },
            mode: params.publish_dir_mode,
            enabled: params.keepfiles,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:VARPIPE_VARIANTANALYSIS:GATK4_LEFTALIGNANDTRIMVARIANTS_ALL' {
        ext.args = '--split-multi-allelics'
        ext.prefix = { "${meta.id}_gatk_full_mutect" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/GATK" },
            mode: params.publish_dir_mode,
            enabled: params.keepfiles,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:VARPIPE_VARIANTANALYSIS:GATK4_FILTERMUTECTCALLS_ALL' {
        ext.args = { "--min-reads-per-strand 1 --min-median-read-position 10 --min-allele-fraction 0.01 --microbial-mode true --stats ${meta.id}_full_mutect.vcf.gz.stats" }
        ext.prefix = { "${meta.id}_full_filter" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/GATK" },
            mode: params.publish_dir_mode,
            enabled: params.keepfiles,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:VARPIPE_VARIANTANALYSIS:VARPIPE_SNPEFF_TARGETED' {
        ext.args = { params.snpeff_cache ? "-config ./${params.snpeff_cache.tokenize('/')[-1]}/snpEff.config" : '' }
        ext.prefix = { "${meta.id}_DR_loci_raw_annotation" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.vcf')) {
                    return "${meta.id}_DR_loci_raw_annotation.txt"
                } else {
                    filename.equals('versions.yml') ? null : filename
                }
            },
            pattern: '*.vcf'
        ]
    }

    withName: '.*:VARPIPE_VARIANTANALYSIS:VARPIPE_SNPEFF_ALL' {
        ext.args = { params.snpeff_cache ? "-config ./${params.snpeff_cache.tokenize('/')[-1]}/snpEff.config" : '' }
        ext.prefix = { "${meta.id}_full_raw_annotation" }
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/" },
            mode: params.publish_dir_mode,
            saveAs: { filename ->
                if (filename.endsWith('.vcf')) {
                    return "${meta.id}_full_raw_annotation.txt"
                } else {
                    filename.equals('versions.yml') ? null : filename
                }
            },
            pattern: '*.vcf'
        ]
    }

    withName: VARPIPE_CREATEANNOTATIONS_TARGETED {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: VARPIPE_CREATEANNOTATIONS_ALL {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: VARPIPE_PARSEANNOTATIONS_TARGETED {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: VARPIPE_PARSEANNOTATIONS_ALL {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: VARPIPE_LINEAGE {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: VARPIPE_REPORT {
        publishDir = [
            enabled: false,
            mode: 'copy'
        ]
    }

    withName: VARPIPE_INTERPRETATION {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: VARPIPE_PDF {
        publishDir = [
            path: { "${params.outdir}/samples/${meta.id}/varpipe/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: VARPIPE_TAR {
        publishDir = [
            path: { "${params.combined_outdir}" },
            mode: params.publish_dir_mode,
            pattern: '*.tar.gz'
        ]
    }
}
