process {
    withName: BWA_INDEX {
        memory = '6.GB'
    }

    withName: BWA_MEM {
        ext.args = "-t 4"
    }

    withName: PICARD_MARKDUPLICATES {
        ext.args = '-ASSUME_SORTED true -REMOVE_DUPLICATES false -VALIDATION_STRINGENCY LENIENT'
        ext.prefix = { "${meta.id}_GATK_sdr" }
    }

    withName: PICARD_CREATESEQUENCEDICTIONARY {
        ext.prefix = "ref2"
    }

    withName: PICARD_SAMFORMATCONVERTER {
        ext.args = 'LENIENT'
        ext.prefix = 'out'
    }

    withName: SAMTOOLS_VIEW_UNMAPPED {
        ext.args = '-c'
        ext.prefix = 'unmapped'
    }

    withName: SAMTOOLS_VIEW {
        ext.args = '-bhF 4'
        ext.prefix = { "${meta.id}_sdrcsm" }
    }

    withName: SAMTOOLS_VIEW_MAPPED {
        ext.args = '-c'
        ext.prefix = 'mapped'
    }

    withName: PICARD_BUILDBAMINDEX {
        ext.args = "LENIENT"
    }

    withName: SAMTOOLS_DEPTH {
        ext.args = '-a'
    }
}
