process {
    // DR LOCI ANALYSES
    withName: 'VARPIPE_VARIANTANALYSIS:GATK4_MUTECT2_TARGETED' {
        ext.args = '--max-mnp-distance 2'
        ext.prefix = { "${meta.id}_mutect" }
    }

    withName: 'VARPIPE_VARIANTANALYSIS:GATK4_LEFTALIGNANDTRIMVARIANTS_TARGETED' {
        ext.args = '--split-multi-allelics'
        ext.prefix = { "${meta.id}_gatk_mutect" }
    }

    withName: 'VARPIPE_VARIANTANALYSIS:GATK4_FILTERMUTECTCALLS_TARGETED' {
        ext.args = { "--min-reads-per-strand 1 --min-median-read-position 10 --min-allele-fraction 0.01 --microbial-mode true --stats ${meta.id}_mutect.vcf.gz.stats" }
        ext.prefix = { "${meta.id}_filter"}
    }

    // FULL SAMPLE ANALYSES
    withName: 'VARPIPE_VARIANTANALYSIS:GATK4_MUTECT2_ALL' {
        ext.args = '--max-mnp-distance 2'
        ext.prefix = { "${meta.id}_full_mutect" }
    }

    withName: 'VARPIPE_VARIANTANALYSIS:GATK4_LEFTALIGNANDTRIMVARIANTS_ALL' {
        ext.args = '--split-multi-allelics'
        ext.prefix = { "${meta.id}_gatk_full_mutect" }
    }

    withName: 'VARPIPE_VARIANTANALYSIS:GATK4_FILTERMUTECTCALLS_ALL' {
        ext.args = { "--min-reads-per-strand 1 --min-median-read-position 10 --min-allele-fraction 0.01 --microbial-mode true --stats ${meta.id}_full_mutect.vcf.gz.stats" }
        ext.prefix = { "${meta.id}_full_filter" }
    }

    withName: 'VARPIPE_VARIANTANALYSIS:VARPIPE_SNPEFF_TARGETED' {
        ext.args = '-nodownload -config ${PWD}/snpeff_cache/snpEff.config'
        ext.prefix = { "${meta.id}_DR_loci_raw_annotation" }
    }

    withName: 'VARPIPE_VARIANTANALYSIS:VARPIPE_SNPEFF_ALL' {
        ext.args = '-nodownload -config ${PWD}/snpeff_cache/snpEff.config'
        ext.prefix = { "${meta.id}_full_raw_annotation" }
    }
}
